html{
    background-color: #141422;
}

/* Contenedor de estrellas */
#fondo-estrellas {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none; /* Permite interactuar con el contenido sin bloquear */
    z-index: -1; /* Lo manda al fondo */
}

/* Estilo de las estrellas */
.estrella {
    position: absolute;
    width: 3px;
    height: 3px;
    background-color: aquamarine;
    box-shadow: 0 2px 4px rgb(255, 255, 255);
    border-radius: 50%;
    opacity: 0.7;
}

@keyframes brillar {
    0% { opacity: 0.5; transform: scale(1); }
    100% { opacity: 1; transform: scale(1.5); }
}

/* Canvas para las líneas */
#canvas-lineas {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: -2;
}

.header {
    background-color: #373471;
    color: white;
    padding: 1.5rem;
    box-shadow: 0 2px 4px rgba(255, 255, 255, 0.1);
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.title{
    margin: 0px;
}

.title-container {
    display: flex;
    align-items: center;
}

body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
.modal {
    display: none; /* Oculto por defecto */
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
}

.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 500px;
    border-radius: 10px;
}

.close-modal {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close-modal:hover,
.close-modal:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.body-page {
    display: flex;
    flex: 2;
    gap: 1.5rem;
    margin: 1rem;
}

.dropdown-menu {
    display: flex;
    flex-direction: column;
    width: auto; /* Se adapta al contenido */
    min-width: 250px; /* Evita que sea demasiado pequeño */
    max-width: 90vw; /* Evita que sea demasiado grande */
    background-color: rgba(255, 255, 255, 0.1); /* Ligera transparencia */
    backdrop-filter: blur(10px); /* Aplica el desenfoque */
    -webkit-backdrop-filter: blur(10px); /* Soporte para navegadores basados en WebKit */
    z-index: 10000;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(255, 255, 255, 0.2);
    padding: 1.5rem;
    animation: boxShadowAnimation 3s infinite alternate;
}

@keyframes boxShadowAnimation {
    0% {
        box-shadow: 0 2px 4px rgb(0, 255, 255);
    }
    50% {
        box-shadow: 0 2px 4px rgb(255, 0, 255);
    }
    100% {
        box-shadow: 0 2px 4px rgba(255, 0, 0, 0.7);
    }
}

/* Sección del título */
.menu-header {
    font-size: 2rem;
    font-weight: bold;
    color: white;
    text-align: center;
}

/* Encabezado y pie ocupan solo su contenido */
.menu-header, 
.menu-footer {
    width: 100%;
    text-align: center;
}

.menu-header-text{
    margin: 0.5rem;
}

/* Estilo del divisor */
.menu-divider {
    width: 100%; /* Ajusta el ancho */
    height: auto;
    border: none;
    border-top: 2px solid rgba(255, 255, 255, 0.2); /* Color blanco semitransparente */
    margin: 10px auto; /* Espaciado entre secciones */
}

/* Opciones del menú */
.menu-options {
    flex-grow: 1; /* Expande esta sección */
    display: flex;
    flex-direction: column;
    align-items: center;
}

.menu-options a {
    display: block;
    padding: 0.3rem;
    margin: 0.3rem;
    font-size: 1.5rem;
    color: white;
    text-decoration: none;
    text-align: left;
    width: 100%;
    border: 2px solid rgba(255, 255, 255, 0.1);
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(255, 255, 255, 0.355);
}

.menu-options a:hover {
    background-color: rgba(255, 255, 255, 0.3);
}

.menu-options a.active {
    background-color: rgba(255, 255, 255, 0.2);
    font-weight: bold;
    color: rgb(255, 255, 255);
}

.texto-close{
    margin: 0.5rem;
}

/* Opción activa resaltada */
.menu-options a.active {
    background-color: rgba(255, 255, 255, 0.2);
    font-weight: bold;
    color: rgb(255, 255, 255);
}

/* Botón de cierre de sesión */
.logout-button {
    background: none;
    border: none;
    color: white;
    font-size: 1.5rem;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logout-button img {
    margin-right: 10px; /* Añadido */
}

.logout-button:hover {
    color: white;
}

/* Botón de cierre */
.close-menu {
    position: absolute;
    top: 20px;
    right: 30px;
    font-size: 2rem;
    color: white;
    background: none;
    border: none;
    cursor: pointer;
}

.close-icon-m{
    width: 25px;
}

.content-m {
    display: flex;
    padding: 2rem;
    flex-direction: column;
    height: auto;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.1); /* Ligera transparencia */
    backdrop-filter: blur(10px); /* Aplica el desenfoque */
    -webkit-backdrop-filter: blur(10px); /* Soporte para navegadores WebKit */
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: auto; /* Permite el scroll si el contenido excede */
    width: 100%;
    box-shadow: 0 2px 4px rgba(255, 255, 255, 0.2);
    animation: boxShadowAnimation 3s infinite alternate;
}

/* Contenedor de imágenes */
.cont-img-tech {
    display: flex;
    flex: 1;
    gap: 1.5rem;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    height: auto;
}

/* Contenedor de botones */
.cont-btn-tech {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: auto;
    width: 100%;
}


/* Botones dentro del contenedor */
.cont-btn-tech button {
    flex: 1;
    margin: 0 10px;
    padding: 10px;
    font-size: 1rem;
    color: white;
    background-color: rgba(255, 255, 255, 0.108);
    border: 2px solid rgba(255, 255, 255, 0.2);
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

/* Botón agregar tecnología */
.btn-add-tech {
    box-shadow: 0 2px 4px rgba(0, 255, 0, 0.5);
}

.btn-add-tech:hover {
    background-color: rgba(0, 255, 0, 0.5);
}

/* Botón editar tecnología */
.btn-edit-tech {
    box-shadow: 0 2px 4px rgba(255, 255, 0, 0.5);
}

.btn-edit-tech:hover {
    background-color: rgba(255, 255, 0, 0.5);
}

/* Botón eliminar tecnología */
.btn-delete-tech {
    box-shadow: 0 2px 4px rgba(255, 0, 0, 0.5);
}

.btn-delete-tech:hover {
    background-color: rgba(255, 0, 0, 0.5);
}


/* Contenedor de imágenes */
.content-tech {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border: 2px solid transparent;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.2);
    transition: all 0.3s ease-in-out;
    position: relative;
}

/* Imágenes */
.content-tech .img-tech {
    display: block;
    width: 80%;
    height: 80%;
    object-fit: cover;
    margin: 1rem;
}

/* Iluminación del contenedor seleccionado */
.content-tech.selected {
    border-color: rgba(0, 255, 255, 0.5);
    box-shadow: 0 0 10px rgba(0, 255, 255, 0.5);
    transform: scale(1.1);
}

/* Sombreado con el nombre de la imagen */
.content-tech::after {
    content: attr(data-name);
    position: absolute;
    bottom: 10px;
    background: rgba(0, 0, 0, 0.6);
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 14px;
    opacity: 0;
    transition: opacity 0.3s;
}

.content-tech.selected::after {
    opacity: 1;
}

/* Ocultar elementos fuera de la vista */
.hidden {
    display: none;
}


.footer {
    background-color: #373471;
    text-align: center;
    padding: 0.2rem;
    box-shadow: 0 -2px 4px rgba(255, 255, 255, 0.1);
}

.footer p{
    color: white;
}
