html{
    background-color: #252440fc;
}

body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #252440cb;
    color: #333;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.header {
    background-color: #252440bb;
    color: white;
    padding: 0.2rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.title{
    margin: 0px;
}

.title-container {
    display: flex;
    align-items: center;
}

.menu-button,
.close-button,
.level-item {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0.5rem;
}

/* Menú desplegable oculto por defecto */
.dropdown-menu {
    display: none; /* Ocultamos el menú hasta que se active */
    position: fixed; /* Fijamos la posición para que cubra todo */
    top: 0;
    left: 0;
    width: 20%;
    height: 100vh; /* Ocupa toda la pantalla */
    background-color: #252440ff; /* Fondo oscuro semitransparente */
    z-index: 10000; /* Se asegura de estar sobre todo */
    flex-direction: column;
    align-content: space-between;
    justify-content: center;
    padding-right: 1.5rem;
    padding-left: 1.5rem;
    padding-top: 1.8rem;
}

/* Cuando el menú está activo (se mostrará con JavaScript) */
.dropdown-menu.active {
    display: flex;
}

/* Sección del título */
.menu-header {
    font-size: 2rem;
    font-weight: bold;
    color: white;
    margin-bottom: 1rem;
    padding-bottom: 0.5rem;
}

.menu-header, .texto-close, .menu-header-text{
    margin: 0px;
}

/* Estilo del divisor */
.menu-divider {
    width: 95%; /* Ajusta el ancho */
    border: none;
    border-top: 2px solid rgba(255, 255, 255, 0.2); /* Color blanco semitransparente */
    margin: 10px auto; /* Espaciado entre secciones */
}


/* Opciones del menú */
.menu-options {
    flex-grow: 1; /* Expande esta sección */
    display: flex;
    flex-direction: column;
    align-items: center;
}

.menu-options a {
    display: block;
    padding: 15px;
    font-size: 1.5rem;
    color: white;
    text-decoration: none;
    text-align: left;
    width: 100%;
}

.menu-options a:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

/* Sección de logout */
.menu-footer {
    margin-top: 0px;
    margin-bottom:2.5rem;
}

/* Opción activa resaltada */
.menu-options a.active {
    background-color: rgba(255, 255, 255, 0.2);
    font-weight: bold;
    color: yellow;
}

.logout-button {
    background: none;
    border: none;
    color: white;
    font-size: 1.5rem;
    cursor: pointer;
    padding: 10px;
    display: flex; /* Añadido */
    align-items: center; /* Añadido */
    justify-content: center; /* Añadido */
}

.logout-button img {
    margin-right: 10px; /* Añadido */
}

.logout-button:hover {
    color: white;
}

/* Botón de cierre */
.close-menu {
    position: absolute;
    top: 20px;
    right: 30px;
    font-size: 2rem;
    color: white;
    background: none;
    border: none;
    cursor: pointer;
}

.sesion-container {
    display: flex;
    align-items: center;
}

.sesion-container .h3{
    padding-right: 0.5rem;
}

.sesion-container .sesion {
    margin: 0;
    font-size: 1rem;
    margin-right: 0.5rem;
    cursor: pointer;
    background: none;
    color: white;
}


.close-icon-m{
    width: 25px;
}

.main {
    padding: 1.5rem;
    max-width: 1200px;
    margin: 0 auto;
    flex: 1;
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
}

.article {
    background-color: white;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    margin-bottom: 1.5rem;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    flex: 1 1 calc(33.333% - 1.5rem);
    box-sizing: border-box;
    flex-direction: column; /* Añadido */
    display: flex;
    justify-content: space-between;
    height: auto;
}

.article .media-left {
    display: flex;
    justify-content: center;
    margin-top: 0px;
    margin-bottom: 0px;
}

.icon-documentacion{
    width: 35px;
    height: 35px;
}

.media-content {
    display: flex;
    justify-content: start;
    margin-bottom: 1rem;
    max-height: 12rem; /* Limita la altura a 4 líneas aproximadamente */
    overflow-y: auto; /* Permite el scroll vertical si hay más contenido */
}

.subtitle-content {
    margin-top: 0px;
    margin-bottom: 0px;
    text-align: center;
}

.media-right {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 85%;
    margin: 0 auto;
}

.media-right .btn-ico-proyecto{
    width: 100%;
    margin-bottom: 10px; /* Optional: Add some space between buttons */
}

.btn-graficos {
    margin-left: auto;
}

.btn-ico-proyecto {
    width: 85%;
    height: 50px;
    justify-content: space-between;
    border: none;
    border-radius: 8px;
    padding: 1rem;
    margin-bottom: 0.7rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.texto-repositorio {
    margin-top: 0px;
    margin-bottom: 0px;
}

.btn-documentacion {
    background-color: #8ae287;
}

.btn-documentacion:hover {
    background-color: #8ae287;
}

.btn-graficos {
    background-color: #fed2e5;
}

.btn-graficos:hover {
    background-color: #fed2e5;
}

.btn-desarrollo {
    background-color: #74a7e4;
}

.btn-desarrollo:hover {
    background-color: #74a7e4;
}

.btn-ico-proyecto h3 {
    margin: 0;
    font-size: 1rem;
}

.btn-ico-proyecto img {
    width: 24px;
    height: 24px;
    margin-left: 0.5rem;
}

.footer {
    background-color: #f1f1f1e0;
    text-align: center;
    padding: 0.2rem;
    box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1);
}

/* Estilos para dispositivos móviles */
@media (max-width: 600px) {
    .header {
        padding: 0.2rem;
    }

    .sesion-container .sesion, .h3 {
        display: none;
        /* Oculta el título y el texto de sesión */
    }

    .main {
        padding: 1.5rem;
        flex-direction: column;
    }

    .article {
        flex: 1 1 100%;
    }

    .dropdown-menu{
        width: 75%;
        height: 100vh;
    }

    .footer {
        padding: 0.2rem;
    }
}

/*para pantallas medianas*/
@media (min-width: 601px) and (max-width: 1024px) {
    .header {
        padding: 0.2rem;
    }

    .main {
        padding: 1.5rem;
    }

    .close-button 
    
    .close-icon{
        height: 45px;
        width: 45px;
        padding: 1rem;
    }

    .sesion-container .sesion, .h3{
        display: none;
    }

    .dropdown-menu{
        width: 40%;
        height: 100vh;
    }

    .footer {
        padding: 0.2rem;
    }
}

@media (min-width: 1025px) {
    .header {
        padding: 0.2rem;
    }

    .main {
        padding: 1.5rem;
    }

    .footer {
        padding: 0.2rem;
    }
}
