/* Estilos para dispositivos móviles */
@media (max-width: 767px) {

}

/*para pantallas medianas*/
@media (min-width: 768px) and (max-width: 1199px) {

}

/*para pantallas grandes*/
@media (min-width: 1200px) {
    html, body {
        height: 100%;
        margin: 0;
        background-color: #141422;
        overflow: hidden;
    }
    
    body {
        display: flex;
        background-color: #30303020;
        position: relative;
    }
    
    /* Canvas para las líneas */
    #canvas-lineas {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        pointer-events: none;
        z-index: -2;
    }
    
    /*contenedor para login y register*/
    .container-lr {
        display: flex;
        flex: 1;
        align-items: stretch;
        padding: 1rem;
        background-color: rgba(20, 20, 34, 0.4); /* Más transparente */
        color: white;
        border: 2px solid rgba(255, 255, 255, 0.1);
        border-radius: 15px;
        margin: 5rem 30rem;
        backdrop-filter: blur(10px);
        -webkit-backdrop-filter: blur(10px);
        animation: rotatingDualShadow 4s infinite linear;
    }
    
    @keyframes rotatingDualShadow {
        0% {
            box-shadow: -8px -8px 12px rgba(0, 255, 255, 0.4), 8px 8px 12px rgba(255, 0, 255, 0.4);
        }
        25% {
            box-shadow: 8px -8px 12px rgba(0, 255, 255, 0.4), -8px 8px 12px rgba(255, 0, 255, 0.4);
        }
        50% {
            box-shadow: 8px 8px 12px rgba(0, 255, 255, 0.4), -8px -8px 12px rgba(255, 0, 255, 0.4);
        }
        75% {
            box-shadow: -8px 8px 12px rgba(0, 255, 255, 0.4), 8px -8px 12px rgba(255, 0, 255, 0.4);
        }
        100% {
            box-shadow: -8px -8px 12px rgba(0, 255, 255, 0.4), 8px 8px 12px rgba(255, 0, 255, 0.4);
        }
    }
    
    /*LOGIN*/
    .login-container {
        flex: 1;
        display: flex;
        flex-direction: column;
    }

    .ld{
        padding-left: 1rem;
        padding-right: 1rem;
    }
    
    .txtl{
        text-align: center;
        font-size: 1.5rem;
        padding-top: 1.5rem;
        padding-bottom: 1.5rem;
    }
    
    .userl {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto auto;
        width: 100%;
        text-align: start;
        padding-bottom: 1.5rem;
        font-size: 25px;
    }
    .userl .iuserl {
        width: 100%;
        font-size: 15px;
        border: 2px solid rgba(255, 255, 255, 0.1);
        border-radius: 10px;
    }
    .iuserl{
        padding: 0.5rem 1px;
    }
    
    .passwordl {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto auto;
        width: 100%;
        text-align: start;
        padding-bottom: 1.5rem;
        font-size: 25px;
    }
    .passwordl .ipasswordl {
        width: 100%;
        font-size: 15px;
        border: 2px solid rgba(255, 255, 255, 0.1);
        border-radius: 10px;
    }
    .ipasswordl{
        padding: 0.5rem 1px;
    }
    
    .container-pl {
        text-align: center;
        padding-top: 2rem;
    }
    
    .loginud {
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
        padding-left: 5rem;
        padding-right: 5rem;
        border-radius: 5px;
        background-color: #252440;
        box-shadow: 0 2px 4px rgba(255, 255, 255, 0.355);
        font-size: 1rem;
    }
    
    .ipl {
        margin: 0;
        color: white;
    }
    
    .t-lr {
        color: rgb(81, 164, 136);
        cursor: pointer;
    }
    
    .redirect-rd{
        text-align: center;
    }
}