<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate">
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Expires" content="0">
    <title>Primera Aplicacion</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'rep_dev/css/index_ds_dev.css' %}">
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script src="{% static 'rep_dev/js/index_ds_dev.js' %}"></script>
</head>

<body class="body">
    <div id="fondo-estrellas"></div>
    <canvas id="canvas-lineas"></canvas>
    <header class="header">
        <nav class="nav">
            <div class="title-container">
                <button class="menu-button" onclick="toggleMenu()">
                    <img src="{% static 'rep_dev/images/menu.png' %}" alt="menu" class="menu-icon" />
                </button>
                <h1 class="title">{{ nombresesion }}
                    {{ apellidosesion }}</h1>
            </div>
        </nav>
        <!-- Menú desplegable -->
        <div id="dropdown-menu" class="dropdown-menu">
            <!-- Sección 1: Encabezado -->
            <div class="menu-header">
                <h5 class="menu-header-text">{{ usernamesesion }}</h5>
            </div>

            <hr class="menu-divider"> <!-- Divisor después del encabezado -->

            <!-- Opciones del Menú -->
            <div class="menu-options">
                {% for opcion in opciones_usuario %}
                <a href="#" data-content="{{ opcion.nombre }}" class="{{ opcion.clase }}">
                    {{ opcion.descripcion.nombre }}
                </a>
                {% endfor %}
            </div>

            <hr class="menu-divider"> <!-- Divisor antes del logout -->

            <!-- Sección 3: Logout -->
            <div class="menu-footer">
                <button class="logout-button" onclick="window.location.href='{% url 'logout' %}'">
                    <img src="{% static 'rep_dev/images/close.png' %}" alt="Cerrar Sesion" class="close-icon-m" />
                    <h5 class="texto-close">Cerrar Sesión</h5>
                </button>
            </div>
        </div>
    </header>
    <main id="opcion1">
        <div class="content-m">
            <div class="content-item" data-name="React">
                <img src="{% static 'rep_dev/images/react.png' %}" alt="React">
            </div>
            <div class="content-item" data-name="Spring">
                <img src="{% static 'rep_dev/images/spring.png' %}" alt="Spring">
            </div>
            <div class="content-item selected" data-name="Node.js">
                <img src="{% static 'rep_dev/images/nodejs.png' %}" alt="Node.js">
            </div>
            <div class="content-item hidden" data-name="Kotlin">
                <img src="{% static 'rep_dev/images/kotlin.png' %}" alt="Kotlin">
            </div>
            <div class="content-item hidden" data-name="Laravel">
                <img src="{% static 'rep_dev/images/laravel.png' %}" alt="Laravel">
            </div>
        </div>
    </main>

    <footer class="footer">
        <p>Hecho por Charly Hilasaca. &copy; Todos los derechos reservados.</p>
    </footer>
</body>

</html>