<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate">
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Expires" content="0">
    <title>Primera Aplicacion</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'rep_dev/css/index_ds_dev.css' %}">
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script src="{% static 'rep_dev/js/index_ds_dev.js' %}"></script>
</head>

<body class="body">
    <div id="fondo-estrellas"></div>
    <canvas id="canvas-lineas"></canvas>
    <header class="header">
        <nav class="nav">
            <div class="title-container">
                <h1 class="title">FTC-DEV</h1>
            </div>
        </nav>
    </header>
    <main class="body-page">
        <!-- Menú desplegable -->
        <div id="dropdown-menu" class="dropdown-menu">
            <!-- Sección 1: Encabezado -->
            <div class="menu-header">
                <h5 class="menu-header-text">{{ usernamesesion }}</h5>
            </div>

            <hr class="menu-divider"> <!-- Divisor después del encabezado -->

            <!-- Opciones del Menú -->
            <div class="menu-options">
                {% for opcion in opciones_usuario %}
                <a href="#" data-content="{{ opcion.nombre }}" class="{{ opcion.clase }}">
                    {{ opcion.descripcion.nombre }}
                </a>
                {% endfor %}
            </div>

            <hr class="menu-divider"> <!-- Divisor antes del logout -->

            <!-- Sección 3: Logout -->
            <div class="menu-footer">
                <button class="logout-button" onclick="window.location.href='{% url 'logout' %}'">
                    <img src="{% static 'rep_dev/images/close.png' %}" alt="Cerrar Sesión" class="close-icon-m" />
                    <h5 class="texto-close">Cerrar Sesión</h5>
                </button>
            </div>
        </div>

        <!-- Contenido principal -->
        <div id="opcion1" class="content-m">
            <div class="cont-img-tech">
                {% for item in contech_items %}
                <div class="{{ item.classct }}" data-name="{{ item.nametech }}">
                    <img class="{{ item.classit }}" src="/{{ item.imgtech_url }}" alt="{{ item.nametech }}">
                </div>
                {% endfor %}
            </div>
            <div class="cont-btn-tech">
                <button id="btn-add-tech" class="btn-add-tech btn-green">AGREGAR TECNOLOGIA</button>
                <button id="btn-edit-tech" class="btn-edit-tech btn-yellow">EDITAR TECNOLOGIA</button>
                <button id="btn-delete-tech" class="btn-delete-tech btn-red">ELIMINAR TECNOLOGIA</button>
            </div>
        </div>
        <div id="opcion2" class="content-m">
            <h1 style="color: white;">HOLA</h1>
        </div>
    </main>
    <footer class="footer">
        <p>Hecho por Charly Hilasaca. &copy; Todos los derechos reservados.</p>
    </footer>
</body>

</html>