<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate">
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Expires" content="0">
    <title>Primera Aplicacion</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'rep_dev/css/index_ds_dev.css' %}">
    <script src="{% static 'rep_dev/js/index_ds_dev.js' %}"></script>
</head>

<body class="body">
    <header class="header">
        <nav class="nav">
            <div class="title-container">
                <button class="menu-button" onclick="toggleMenu()">
                    <img src="{% static 'rep_dev/images/menu.png' %}" alt="menu" class="menu-icon" />
                </button>
                <h1 class="title">Panel Administrativo para Desarrollador</h1>
            </div>
            <div class="sesion-container">
                <h3 class="h3">Has iniciado sesion como</h3>
                <h3 class="sesion" onclick="window.location.href='{% url 'logout' %}'">
                    {{ nombresesion }}
                    {{ apellidosesion }}</h3>
            </div>
        </nav>
        <!-- Menú desplegable -->
        <div id="dropdown-menu" class="dropdown-menu">
            <!-- Sección 1: Encabezado -->
            <div class="menu-header">
                <h5 class="menu-header-text">{{ usernamesesion }}</h5>
            </div>

            <hr class="menu-divider"> <!-- Divisor después del encabezado -->

            <!-- Opciones del Menú -->
            <div class="menu-options">
                {% for opcion in opciones_usuario %}
                <a href="#" data-content="{{ opcion.nombre }}" class="{{ opcion.clase }}">
                    {{ opcion.descripcion.nombre }}
                </a>
                {% endfor %}
            </div>

            <hr class="menu-divider"> <!-- Divisor antes del logout -->

            <!-- Sección 3: Logout -->
            <div class="menu-footer">
                <button class="logout-button" onclick="window.location.href='{% url 'logout' %}'">
                    <img src="{% static 'rep_dev/images/close.png' %}" alt="Cerrar Sesion" class="close-icon-m" />
                    <h5 class="texto-close">Cerrar Sesión</h5>
                </button>
            </div>
        </div>
    </header>
    <main class="main" id="opcion1">
        
    </main>
    <footer class="footer">
        <p>Hecho por Charly Hilasaca. &copy; Todos los derechos reservados.</p>
    </footer>
</body>

</html>